<html lang="en-us">
  <head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">

  <title>Using theme components - Minicomp Wiki</title>
  <link rel="stylesheet" href="/wiki/assets/css/just-the-docs.css">
  
  <script type="text/javascript" src="/wiki/assets/js/vendor/lunr.min.js"></script>
  
  <script type="text/javascript" src="/wiki/assets/js/just-the-docs.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

  
  <link rel="shortcut icon" type="image/png" href="/wiki/favicon.png">

  <body>
    <div class="page-wrap">
      <div class="side-bar">
        <a href="/wiki/" class="site-title fs-6 lh-tight">Minicomp Wiki</a>
        <span class="fs-3"><button class="js-main-nav-trigger navigation-list-toggle btn btn-outline" type="button" data-text-toggle="Hide">Menu</button></span>
        <div class="navigation main-nav js-main-nav">
          <nav>
  <ul class="navigation-list">
    
    
      
    
      
    
      
        
          <li class="navigation-list-item">
            
            <a href="/wiki/" class="navigation-list-link">Home</a>
            
          </li>
        
      
    
      
        
      
    
      
        
      
    
      
        
      
    
      
        
      
    
      
        
      
    
      
        
      
    
      
        
      
    
      
        
      
    
      
        
          <li class="navigation-list-item">
            
            <a href="/wiki/contributors/" class="navigation-list-link">Contributors</a>
            
          </li>
        
      
    
      
        
      
    
      
        
          <li class="navigation-list-item">
            
            <a href="/wiki/ed/" class="navigation-list-link">Ed.</a>
            
          </li>
        
      
    
      
        
      
    
      
        
      
    
      
        
      
    
      
        
          <li class="navigation-list-item active">
            
            <a href="/wiki/wax/" class="navigation-list-link">Wax</a>
            
              

              <ul class="navigation-list-child-list">
                
                  
                
                  
                
                  
                
                  
                
                  
                
                  
                
                  
                
                  
                
                  
                
                  
                    
                      <li class="navigation-list-item ">
                        
                        <a href="/wiki/wax/system-requirements/" class="navigation-list-link">System requirements</a>
                        
                          

                          <ul class="navigation-list-child-list nav-grandchild">
                            
                              
                            
                              
                            
                              
                            
                              
                            
                              
                            
                              
                                
                              
                            
                              
                            
                              
                            
                              
                            
                              
                            
                              
                            
                              
                            
                              
                            
                              
                            
                              
                            
                              
                            
                              
                            
                              
                            
                              
                            
                              
                            
                              
                            
                              
                            
                              
                            
                              
                            
                              
                            
                          </ul>
                        
                      </li>
                    
                  
                
                  
                
                  
                
                  
                
                  
                
                  
                    
                      <li class="navigation-list-item ">
                        
                        <a href="/wiki/wax/preparing-your-collection-data/" class="navigation-list-link">Preparing your collection data</a>
                        
                          

                          <ul class="navigation-list-child-list nav-grandchild">
                            
                              
                            
                              
                            
                              
                            
                              
                            
                              
                            
                              
                            
                              
                                
                              
                            
                              
                            
                              
                            
                              
                            
                              
                                
                              
                            
                              
                            
                              
                            
                              
                            
                              
                            
                              
                            
                              
                            
                              
                            
                              
                            
                              
                            
                              
                            
                              
                            
                              
                            
                              
                            
                              
                            
                          </ul>
                        
                      </li>
                    
                  
                
                  
                
                  
                    
                      <li class="navigation-list-item ">
                        
                        <a href="/wiki/wax/setting-up-your-site/" class="navigation-list-link">Setting up your site</a>
                        
                          

                          <ul class="navigation-list-child-list nav-grandchild">
                            
                              
                            
                              
                            
                              
                            
                              
                                
                              
                            
                              
                            
                              
                            
                              
                            
                              
                            
                              
                                
                              
                            
                              
                            
                              
                            
                              
                            
                              
                            
                              
                            
                              
                            
                              
                                
                              
                            
                              
                            
                              
                            
                              
                            
                              
                            
                              
                            
                              
                            
                              
                            
                              
                            
                              
                            
                          </ul>
                        
                      </li>
                    
                  
                
                  
                
                  
                    
                      <li class="navigation-list-item ">
                        
                        <a href="/wiki/wax/running-the-tasks/" class="navigation-list-link">Running the tasks</a>
                        
                          

                          <ul class="navigation-list-child-list nav-grandchild">
                            
                              
                            
                              
                            
                              
                            
                              
                            
                              
                                
                              
                            
                              
                            
                              
                            
                              
                                
                              
                            
                              
                            
                              
                            
                              
                            
                              
                            
                              
                                
                              
                            
                              
                            
                              
                            
                              
                            
                              
                            
                              
                            
                              
                            
                              
                            
                              
                            
                              
                            
                              
                            
                              
                            
                              
                            
                          </ul>
                        
                      </li>
                    
                  
                
                  
                    
                      <li class="navigation-list-item ">
                        
                        <a href="/wiki/wax/using-theme-layouts/" class="navigation-list-link">Using theme layouts</a>
                        
                      </li>
                    
                  
                
                  
                    
                      <li class="navigation-list-item  active">
                        
                        <a href="/wiki/wax/using-theme-components/" class="navigation-list-link active">Using theme components</a>
                        
                      </li>
                    
                  
                
                  
                    
                      <li class="navigation-list-item ">
                        
                        <a href="/wiki/wax/hosting/" class="navigation-list-link">Hosting your site</a>
                        
                      </li>
                    
                  
                
                  
                    
                      <li class="navigation-list-item ">
                        
                        <a href="/wiki/wax/advanced/" class="navigation-list-link">Advanced</a>
                        
                      </li>
                    
                  
                
                  
                    
                      <li class="navigation-list-item ">
                        
                        <a href="/wiki/wax/examples/" class="navigation-list-link">Examples</a>
                        
                      </li>
                    
                  
                
                  
                    
                      <li class="navigation-list-item ">
                        
                        <a href="/wiki/wax/quick-reference/" class="navigation-list-link">Quick reference</a>
                        
                      </li>
                    
                  
                
              </ul>
            
          </li>
        
      
    
      
        
      
    
      
        
      
    
      
        
      
    
      
        
      
    
      
        
      
    
      
        
      
    
      
        
      
    
  </ul>
</nav>

        </div>
        <footer role="contentinfo" class="site-footer">
          <p class="text-small text-grey-dk-000 mb-0">This site uses <a href="https://github.com/pmarsceill/just-the-docs">Just the Docs</a>, a documentation theme for Jekyll.</p>
        </footer>
      </div>
      <div class="main-content-wrap">
        <div class="page-header">
          <div class="main-content">
            
            <div class="search js-search">
              <div class="search-input-wrap">
                <input type="text" class="js-search-input search-input" placeholder="Search Minicomp Wiki" aria-label="Search Minicomp Wiki" autocomplete="off">
                <svg width="14" height="14" viewBox="0 0 28 28" xmlns="http://www.w3.org/2000/svg" class="search-icon"><title>Search</title><g fill-rule="nonzero"><path d="M17.332 20.735c-5.537 0-10-4.6-10-10.247 0-5.646 4.463-10.247 10-10.247 5.536 0 10 4.601 10 10.247s-4.464 10.247-10 10.247zm0-4c3.3 0 6-2.783 6-6.247 0-3.463-2.7-6.247-6-6.247s-6 2.784-6 6.247c0 3.464 2.7 6.247 6 6.247z"/><path d="M11.672 13.791L.192 25.271 3.02 28.1 14.5 16.62z"/></g></svg>
              </div>
              <div class="js-search-results search-results-wrap"></div>
            </div>
            
            
              <ul class="list-style-none text-small mt-md-1 mb-md-1 pb-4 pb-md-0 js-aux-nav aux-nav">
                
                  <li class="d-inline-block my-0 mr-2"><a href="https://github.com/minicomp/">GitHub</a></li>
                
                  <li class="d-inline-block my-0 mr-2"><a href="https://minicomp.github.io/wax/">Wax Demo</a></li>
                
                  <li class="d-inline-block my-0"><a href="https://minicomp.github.io/ed/">Ed. Demo</a></li>
                
              </ul>
            
          </div>
        </div>
        <div class="main-content">
          
            
              <nav class="breadcrumb-nav">
                <ol class="breadcrumb-nav-list">
                  
                    <li class="breadcrumb-nav-list-item"><a href="/wiki/wax/">Wax</a></li>
                  
                  <li class="breadcrumb-nav-list-item"><span>Using theme components</span></li>
                </ol>
              </nav>
            
          
          <div class="page-content">
            <h1 id="using-theme-components">Using theme components</h1>

<p>In the parlance of Jekyll, components are called <code class="highlighter-rouge">includes</code> and live in the <code class="highlighter-rouge">_includes</code> folder. They are just like <strong>shortcodes</strong> in WordPress in that they’re quick, reusable blocks.</p>

<p><strong>Wax</strong> comes with a lot of <code class="highlighter-rouge">includes</code> that you can browse on Github <a href="https://github.com/minicomp/wax/tree/gh-pages/_includes/wax">here</a>. The easiest way to get started using Wax <code class="highlighter-rouge">includes</code> is by seeing how they’re used in the <a href="https://github.com/minicomp/wax/tree/gh-pages/">Wax demo site</a> and trying them out on your own.</p>

<h2 id="includes">includes</h2>

<p><a href="https://github.com/minicomp/wax/blob/gh-pages/_includes/wax/footer.html">wax/footer.html</a>, <a href="https://github.com/minicomp/wax/blob/gh-pages/_includes/wax/head.html">wax/head.html</a>, and <a href="https://github.com/minicomp/wax/blob/gh-pages/_includes/wax/header.html">wax/header.html</a> are used by the <code class="highlighter-rouge">wax/default.html</code> layout, so you likely won’t need to use them on your own. The rest are covered below.</p>

<h3 id="waxinline-imagehtml-">wax/inline-image.html <a href="https://github.com/minicomp/wax/blob/gh-pages/_includes/wax/inline_image.html">→</a></h3>

<h4 id="usage">Usage:</h4>

<p><code class="highlighter-rouge">{% include wax/inline_image.html collection=[item collection key] pid=[item pid] %}</code></p>

<h3 id="waxmirador_comparehtml-">wax/mirador_compare.html <a href="https://github.com/minicomp/wax/blob/gh-pages/_includes/wax/mirador_compare.html">→</a></h3>

<h4 id="usage-1">Usage:</h4>

<p><code class="highlighter-rouge">{% include wax/mirador_compare.html m1=[link to manifest 1] m2=[link to manifest 2] %}</code></p>

<h3 id="waxparallaxhtml-">wax/parallax.html <a href="https://github.com/minicomp/wax/blob/gh-pages/_includes/wax/parallax.html">→</a></h3>

<h4 id="usage-2">Usage:</h4>

<p><code class="highlighter-rouge">{% include wax/parallax.html collection=[item collection key] pid=[item pid] %}</code></p>

<hr />

<h3 id="waxcollectiongalleryhtml-">wax/collection/gallery.html <a href="https://github.com/minicomp/wax/blob/gh-pages/_includes/wax/collection/gallery.html">→</a></h3>

<h4 id="usage-3">Usage:</h4>

<p><code class="highlighter-rouge">{% include wax/collection/gallery.html collection=[collection key] facet_by=[key to group items by] %}</code></p>

<h3 id="waxcollectioninteractive_metadatahtml-">wax/collection/interactive_metadata.html <a href="https://github.com/minicomp/wax/blob/gh-pages/_includes/wax/collection/interactive_metadata.html">→</a></h3>

<h4 id="usage-4">Usage:</h4>

<p><code class="highlighter-rouge">{% include wax/collection/interactive_metadata.html collection=[collection key] %}</code></p>

<hr />

<h3 id="waximage_viewerleaflethtml-">wax/image_viewer/leaflet.html <a href="https://github.com/minicomp/wax/blob/gh-pages/_includes/wax/image_viewer/leaflet.html">→</a></h3>

<h4 id="usage-5">Usage:</h4>

<p><code class="highlighter-rouge">{% include wax/image_viewer/leaflet.html collection=[item collection key] pid=[item pid] %}</code></p>

<h3 id="waximage_viewermiradorhtml-">wax/image_viewer/mirador.html <a href="https://github.com/minicomp/wax/blob/gh-pages/_includes/wax/image_viewer/mirador.html">→</a></h3>

<h4 id="usage-6">Usage:</h4>

<p><code class="highlighter-rouge">{% include wax/image_viewer/mirador.html collection=[item collection key] pid=[item pid] %}</code></p>

<h3 id="waximage_viewersimplehtml-">wax/image_viewer/simple.html <a href="https://github.com/minicomp/wax/blob/gh-pages/_includes/wax/image_viewer/simple.html">→</a></h3>

<h4 id="usage-7">Usage:</h4>

<p><code class="highlighter-rouge">{% include wax/image_viewer/simple.html collection=[item collection key] pid=[item pid] %}</code></p>

<hr />

<h3 id="waxitemmetadatahtml-">wax/item/metadata.html <a href="https://github.com/minicomp/wax/blob/gh-pages/_includes/wax/item/metadata.html">→</a></h3>

<h4 id="usage-8">Usage:</h4>

<p><code class="highlighter-rouge">{% include item/metadata.html %}</code></p>

<h3 id="waxitempaginationhtml-">wax/item/pagination.html <a href="https://github.com/minicomp/wax/blob/gh-pages/_includes/wax/item/pagination.html">→</a></h3>

<h4 id="usage-9">Usage:</h4>

<p><code class="highlighter-rouge">{% include wax/item/pagination.html meta=[metadata structure label/value] %}</code></p>



            
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
